@model soffapp.Models.Ventum;
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <select class="form-select">
            <option value="1"></option>
        </select>
        <form method="post" asp-action="Create">
            <button type="submit" class="btn btn-primary">
                Agregar venta
            </button>
        </form>
    </div>
</div>

